# Environments
*.env
*.DS_Store

# Docker
superset_data/
mariadb-data/
minio-data/

# Logs
**/*.log

# Data
**/*.parquet
**/*.csv

# Python
__pycache__/
__init__.py
*.pyc
.ipynb_checkpoints
*.zip

# Jupyter
.Trash*
**/*.ipynb

# VSCode
.vscode

# Others
tmp/
hooks/