# Environments
*.env
*.DS_Store
test.py

# Docker
superset_data/
mariadb-data/
minio-data/

# Logs
airflow/logs
spark/logs
**/*.log

# Data
**/*.parquet
**/*.csv

# Python
__pycache__/
__init__.py
*.pyc
.ipynb_checkpoints

# Jupyter
.Trash*
# **/*.ipynb

# VSCode
.vscode
hooks/